@using CF_ASP_NET.Models;
@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/fe-index.css")
@Styles.Render("~/Content/load-fe-control.css")
@Styles.Render("~/Content/main.css")
@Styles.Render("~/Content/main-introduction.css")
@Styles.Render("~/Content/main-investment.css")
@Styles.Render("~/Content/main-news.css")
@Styles.Render("~/Content/main-proposal.css")

@Scripts.Render("~/Scripts/scroll-fe-control.js")
<a id="murl" href="~/" style="display:none"></a>
<div id="pimage">
</div>
<div class="dialog-main-mid">
    @foreach (CfProposalV a in ViewData["DataList"] as List<CfProposalV>)
    {
        <label>@a.title</label>
        <p>@a.introduction</p>
        <p id="p_id" style="display:none;">@a.proposal</p>
    }

</div>
<div class="dialog-main-bottom">
    <p id="content">
    </p>
    <p class="col-md-12 dialog-line"></p>
    <p class="col-md-12">
        <label>姓名</label>
        <input id="name" class="w3-input w3-border w3-round-large" onKeyUp="CheckName()" onMouseUp="CheckName()" onChange="CheckName()" type="text">
    <p id="name_check" style="height: 25px;"></p>
    <p id="name_check_value" style="display: none;">0</p>
    </p>
    <p class="col-md-12">
        <label>連絡電話</label>
        <input id="phone" class="w3-input w3-border w3-round-large" onkeyup="CheckPhone()" onmouseup="CheckPhone()" onchange="CheckPhone()" type="text">
    <p id="phone_check" style="height: 25px;"></p>
    <p id="phone_check_value" style="display: none;">0</p>
    </p>
    <p class="col-md-12">
        <label>金額</label>
        <input id="invest_money" class="w3-input w3-border w3-round-large" onkeyup="CheckInvestMoney()" onmouseup="CheckInvestMoney()" onchange="CheckInvestMoney()" type="number">
    <p id="invest_money_check" style="height: 25px;"></p>
    <p id="invest_money_check_value" style="display: none;">0</p>
    </p>
    <p class="col-md-12 dialog-line"></p>
</div>
<div class="col-md-12 dialog-main-bottom-button">
    <div class="col-md-4">
        <button id="output" class="w3-button" onclick="post()">確定</button>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <button class="w3-button">返回</button>
    </div>
</div>

<script>
    function WebpIsSupported(callback) {
        // If the browser doesn't has the method createImageBitmap, you can't display webp format
        if (!window.createImageBitmap) {
            callback(false);
            return;
        }

        // Base64 representation of a white point image
        var webpdata = 'data:image/webp;base64,UklGRiQAAABXRUJQVlA4IBgAAAAwAQCdASoCAAEAAQAcJaQAA3AA/v3AgAA=';

        // Retrieve the Image in Blob Format
        fetch(webpdata).then(function (response) {
            return response.blob();
        }).then(function (blob) {
            // If the createImageBitmap method succeeds, return true, otherwise false
            createImageBitmap(blob).then(function () {
                callback(true);
            }, function () {
                callback(false);
            });
        });
    }

    function getContent() {
        var array =
            { "id": $("#p_id").html() }
        $.post(document.getElementById("murl").href + 'home/proposalcontent', array,
            function (data) {
                $("#content").html(data);
                getImage();
            }
        );
    }

    function getImage() {
        var array =
            { "id": $("#p_id").html() }
        $.post(document.getElementById("murl").href + 'home/proposalimage/' + $("#p_id").html(), array,
            function (data) {
                var obj = JSON.parse(data);
                if (obj.second_name == "webp") {
                    WebpIsSupported(function (isSupported) {
                        if (isSupported) {
                            $("#pimage").html('<img src="' + document.getElementById("murl").href + obj.url + '" style="width:100%;" />');
                        } else {
                            $("#pimage").html('瀏覽器不支援webp');
                        }
                    });
                } else {
                    $("#pimage").html('<img src="' + document.getElementById("murl").href + obj.url + '" style="width:100%;" />');
                }
                window.parent.displayLoad();
            }
        );
    }

    function checkAll() {
        var num = 0;
        num = Number($("#name_check_value").html())
            + Number($("#phone_check_value").html())
            + Number($("#invest_money_check_value").html());
        if (num == 3) {
            $("#output").removeClass('w3-disabled');
        } else {
            $("#output").addClass('w3-disabled');
        }
    }

    function CheckName() {
        if ($("#name").val() != '' & $("#name").val().length < 51) {
            $("#name_check").html("");
            $("#name").removeClass('w3-border-red');
            $("#name_check").removeClass('w3-text-red');
            $("#name_check").addClass('w3-text-green');
            $("#name_check_value").html('1');
            checkAll();
        } else if ($("#name").val() != '' & $("#name").val().length > 50) {
            $("#name_check").html("不得超過50個字");
            $("#name").addClass('w3-border-red');
            $("#name_check").removeClass('w3-text-green');
            $("#name_check").addClass('w3-text-red');
            $("#name_check_value").html('0');
            checkAll();
        } else {
            $("#name_check").html("請輸入");
            $("#name").addClass('w3-border-red');
            $("#name_check").removeClass('w3-text-green');
            $("#name_check").addClass('w3-text-red');
            $("#name_check_value").html('0');
            checkAll();
        }
    }

    function CheckPhone() {
        if ($("#phone").val() != '' & $("#phone").val().length < 51) {
            $("#phone_check").html("");
            $("#phone").removeClass('w3-border-red');
            $("#phone_check").removeClass('w3-text-red');
            $("#phone_check").addClass('w3-text-green');
            $("#phone_check_value").html('1');
            checkAll();
        } else if ($("#phone").val() != '' & $("#phone").val().length > 50) {
            $("#phone_check").html("不得超過50個字");
            $("#phone").addClass('w3-border-red');
            $("#phone_check").removeClass('w3-text-green');
            $("#phone_check").addClass('w3-text-red');
            $("#phone_check_value").html('0');
            checkAll();
        } else {
            $("#phone_check").html("請輸入");
            $("#phone").addClass('w3-border-red');
            $("#phone_check").removeClass('w3-text-green');
            $("#phone_check").addClass('w3-text-red');
            $("#phone_check_value").html('0');
            checkAll();
        }
    }

    function CheckInvestMoney() {
        var max_num = 97199254740991;
        //var min_num = -97199254740991;
        var min_num = 0;

        if ($("#invest_money").val() != '' & (!isNaN($("#invest_money").val()))) {
            if (Number($("#invest_money").val()) <= max_num & Number($("#invest_money").val()) > 0) {
                $("#invest_money_check").html("");
                $("#invest_money").removeClass('w3-border-red');
                $("#invest_money_check").removeClass('w3-text-red');
                $("#invest_money_check").addClass('w3-text-green');
                $("#invest_money_check_value").html('1');
                checkAll();
            } else if ($("#invest_money").val() != '' & Number($("#invest_money").val()) > max_num) {
                $("#invest_money_check").html("不得超過" + max_num);
                $("#invest_money").addClass('w3-border-red');
                $("#invest_money_check").removeClass('w3-text-green');
                $("#invest_money_check").addClass('w3-text-red');
                $("#invest_money_check_value").html('0');
                checkAll();
            } else if ($("#invest_money").val() != '' & Number($("#invest_money").val()) <= 0) {
                $("#invest_money_check").html("須超過" + min_num);
                $("#invest_money").addClass('w3-border-red');
                $("#invest_money_check").removeClass('w3-text-green');
                $("#invest_money_check").addClass('w3-text-red');
                $("#invest_money_check_value").html('0');
                checkAll();
            }
        } else if ($("#invest_money").val() != '' & (isNaN($("#invest_money").val()))) {
            $("#invest_money_check").html("請輸入數字");
            $("#invest_money").addClass('w3-border-red');
            $("#invest_money_check").removeClass('w3-text-green');
            $("#invest_money_check").addClass('w3-text-red');
            $("#invest_money_check_value").html('0');
            checkAll();
        } else {
            $("#invest_money_check").html("請輸入數字");
            $("#invest_money").addClass('w3-border-red');
            $("#invest_money_check").removeClass('w3-text-green');
            $("#invest_money_check").addClass('w3-text-red');
            $("#invest_money_check_value").html('0');
            checkAll();
        }
    }

    //輸入欄位設置檢查動作
    setTimeout(function () {
        $("#name").keypress(function (event) {
            return setKeyEnter(event);
        });
        $("#phone").keypress(function (event) {
            return setKeyEnter(event);
        });
        $("#invest_money").keypress(function (event) {
            return setKeyEnter(event);
        });

        //按鈕狀態重設
        $("#output").addClass('w3-disabled');

        getContent();
    }, 100);

    //設置Enter Key事件
    function setKeyEnter(event) {
        var keycode = event.keyCode || event.which;
        if (keycode == '13') {
            var num = 0;
            num = Number($("#name_check_value").html())
                + Number($("#phone_check_value").html())
                + Number($("#invest_money_check_value").html());
            if (num == 3) {
                post();
            } else {
                CheckName();
                CheckPhone();
                CheckInvestMoney();
            }
            return false;
        }
        return true;
    }

    function post() {
        if (confirm("是否要進行此操作?")) {
            playLoad();
            setTimeout(function () {
                var array =
                    { "p_id": $("#p_id").html(), "name": $("#name").val(), "phone": $("#phone").val(), "invest_money": $("#invest_money").val() }
                $.post(document.getElementById("murl").href + 'home/investrun', array,
                    function (data) {
                        alert(data);
                        window.parent.changeDialog('invest_result', $("#p_id").html());
                    }
                );
            }, 1000);
        }
    }
</script>
